.button {
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    cursor: not-allowed;
  }
}

.green {
  background: #31ae54;

  &:hover {
    background: #2a9b4a;
    transition: all 0.1s ease-out;
  }
}

.grey {
  background: #9e9e9e;

  &:hover {
    background: #858383;
    transition: all 0.1s ease-out;
  }
}

.loading {
  background: #9e9e9e;

  &:hover {
    background: #9e9e9e;
  }
}
