.button-content {
  display: flex;
}

.btn-text {
  margin-right: 12px;
}

.content {
  height: 100vh;
}

.img {
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 0;
  transform: translateY(-50%);
  height: 635px;
}

.controls {
  display: flex;
  flex-direction: column;
  width: 256px;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.desc__text {
  display: block;
}

.logo {
  margin-bottom: 24px;
}

.desc {
  margin-bottom: 54px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
