.toggler {
  font-weight: 500;
  color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.toggler__text {
  margin-right: 5px;
}

.active {
  transform: rotate(180deg);
  transition: 0.3 ease-out;
}
