.menu {
  display: flex;
  align-items: center;

  :last-child {
    margin-right: 0;
  }
}

.menu__item {
  margin-right: 25px;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.avatar {
  width: 37px;
  height: 37px;
  border-radius: 50%;
}
